@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 30px auto;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

.auth-card{
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
}

.galleryItem{
  width: 30%;
}

#toast-container{
  top: 30px !important;
  right: 50px auto!important;
}

.material-icons:hover{
  cursor: pointer;
}

.collection-item{
  width: 100%;
}